{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
     <section class="search">
        <form id="form3" action="{% url 'watching' %}" method="get" class="search_container">
            <input  type="text" name="query" placeholder="フリーワード検索" aria-label="Search">
            <input type="submit" value="&#xf002">
        </form>
    </section>
    <section class="post_list">
    <h6 class="event_detail_text">イベント一覧</h6>
        <div class="post_individual">
            {% for Post in posts %}
                <a href="{% url 'post_detail' Post.id %}" class="post_detail_next">
                    <div class="card-detail">
                        <h5 class="card-header post_day">{{ Post.event_date}}開催予定</h5>
                        <div class="card-body detail_body">
                            <p class="post_title_text">Title</p>
                            <h5 class="card-title post_title">{{ Post.title}}</h5>
                            <div class="event_detail_div">
                                <i class="fas fa-user event_detail_icon"></i>
                                <p class="card-text master_username">{{ Post.master_username  }}</p>
                            </div>
                            <div class="text-right link_detail">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="card-footer">
                                <p class="post_event_type">{{ Post.get_sport_detail_display }}</p>
                                <p class="post_holding_method">{{ Post.get_holding_method_display }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock body %}