{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

<div class="search-container text-center mg_t40 mg_t60_sub mg_b40 mg_b60_sub">
    <form  method="post" class="">{% csrf_token %}
        <input type='hidden' id="keyword" name="keyword" value="{{keyword}}" placeholder="keyword" class="search-box">
        <input type='hidden' id="keyword" name="count" value="{{count}}" placeholder="count" class="search-box">
        <input type="hidden" name="submit_token" value="{{ submit_token }}" class="search-box">
        <button type="submit" value="search" class="search-button btn btn-primary">最新情報を読み込む</button>
    </form>
</div>
{% for tweet in tweets %}
    {{ tweet | safe }}
{% endfor %}
    <div class="advertising main_css" id="click_out_main">
        <a href="https://px.a8.net/svt/ejp?a8mat=3HBWKJ+C6720I+4F8I+67JU9" rel="nofollow">
            <img border="0" width="100%" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=210507427736&wid=001&eno=01&mid=s00000020637001043000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3HBWKJ+C6720I+4F8I+67JU9" alt="">
        </a>
        <i class="fas fa-times" id="clicks_main"></i>
    </div>
{% endblock body %}