{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <h4 class="email_change_form_text mg_t40 mg_b40 text_C font_border mg_t60_sub mg_b60_sub text_C_sub font_border_sub">メールアドレスを変更する</h4>
    <section class="email_change back_base back_base_sub">
        <p class="email_change_text mg_b5 pd_l10 pd_t20 pd_l25_sub pd_t40_sub mg_b5_sub">current e-mail</p>
        <hr class="hr mg_t10 mg_b20 width_95  mg_t0_sub mg_b10_sub width_95 width_95_sub">
        <p class="email_now mg_b40 pd_l10 font_border pd_l25_sub mg_b60_sub font_border_sub">{{user.email}}</p>
        <form class="email_change_form" method="POST">
            <p class="email_change_text mg_b5 pd_l10 pd_t20 pd_l25_sub pd_t40_sub mg_b5_sub">new e-mail</p>
            <hr class="hr mg_t10 mg_b20 width_95  mg_t0_sub mg_b10_sub width_95 width_95_sub">
            <div class="form_email mg_b40 pd_l10 pd_l25_sub mg_b60_sub">
                <table class="table">{% render_field form.email class="form_email_change line-none width_80 line-none_sub width_80_sub" placeholder="新しいメールアドレスの入力" %}</table>
            </div>
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-success email_change_form_button mg_b20 mg_b60_sub mg_t40_sub" >変更する</button>
            </div>
        </form>
    </section>
{% endblock body %}