{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <section class="password_reset">
        <h1 class="password_reset_form_text">パスワードの再設定</h1>
        <p class="password_reset_text">※下記に登録済みのE-mailアドレスを入力してください。</p>
        <form class="password_reset_form"  method="POST" >
            <p class="password_reset_detail_text">E-mail</p>
            <hr class="separate_hr">
            <div class="form_email">
                <table class="table">{% render_field form.email class="form_password_change" placeholder="E-mail" %}</table>
            </div>
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-success password_change_form_button" >変更する</button>
            </div>
        </form>
    </section>
{% endblock body %}