{% extends 'account/base.html' %}
{% load static %}

{% block body %}
    <h2 class="signup_text_title mg_t40 mg_b40 text_C font_border">WSEH</h2>
    <h4 class="change_text pd_l20 pd_r20 mg_b20 text_C mg_t60_sub mg_b40_sub text_C_sub font_border_sub">ご登録ありがとうございます。</h4>
    <P class="change_text_detail pd_l20 pd_r20 mg_b20 text_C pd_l20 pd_r20_sub mg_b40_sub text_C_sub">続けてログインを行ってください。</P>
    <div class="text-center">
        <a class="next_link" href="{% url 'login' %}">
           <button type="submit" class="btn btn-success next_login mg_b20 mg_b40_sub">ログイン</button>
        </a>
    </div>
{% endblock body %}