{% extends 'account/base.html' %}
{% load static %}

{% block body %}
    <h2 class="signup_text_title mg_t40 mg_b40 text_C font_border">WSEH</h2>
    <h4 class="thank_you_text pd_l20 pd_r20 mg_b20 text_C">ご登録ありがとうございます。</h4>
    <P class="please_continue pd_l20 pd_r20 mg_b20 text_C">続けてログインを行ってください。</P>
    <div class="text-center">
        <a class="next_link" href="{% url 'login' %}">
           <button type="submit" class="btn btn-success next_login">LOGIN</button>
        </a>
    </div>
{% endblock body %}