{% extends 'account/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    <h1 class="site_account_sign_title">WSEH</h1>
    <section class="signup">
        <h3 class="signup_text">SIGNUP</h3>
        <form class="signup_form"  method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <p class="signup_text_detail">Icon</p>
            <hr class="signup_hr">
            <div class="signup_images">
                  <div id="preview"></div>
            </div>
            <div class="profile_image">
                <div class="text-center">
                    <label class="image_label">
                    <i class="fas fa-plus"></i>
                        アイコンを選択して下さい
                        <table class="table">{% render_field form.profile_image class="form_profile_image" onChange="imgPreView(event)"%}</table>
                    </label>
                </div>
            </div>
            <p class="signup_text_detail">username</p>
            <hr class="signup_hr">
            <div class="username">
                <table class="table">{% render_field form.username class="form_username" placeholder="ユーザー名" %}</table>
            </div>
            <p class="signup_text_detail">Self-introduction</p>
            <hr class="signup_hr">
            <div class="self_introduction">
                <table class="table">{% render_field form.self_introduction　class="form_self_introduction" placeholder="※プロフィール" %}</table>
            </div>
            <p class="signup_text_detail">E-mail</p>
            <hr class="signup_hr">
            <div class="email">
                <table class="table">{% render_field form.email class="form_email" placeholder="E-mail" %}</table>
            </div>
            <p class="signup_text_detail">password</p>
            <hr class="signup_hr">
            <div class="password1">
                <table class="table">{% render_field form.password1 class="form_password" placeholder="password" %}</table>
            </div>
            <p class="signup_text_detail">again password</p>
            <hr class="signup_hr">
            <div class="password2">
                <table class="table">{% render_field form.password2 class="form_password" placeholder="password確認用" %}</table>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
            {% endif %}
            <p class="any_text">※の記入は任意です。</p>
            <div class="text-center">
                <button type="submit" class="btn btn-danger signup_button" >SIGNUP</button>
            </div>
        </form>
    </section>
{% endblock body %}


