/*app/base.html*/
@media screen and (max-width:639px) {
    body {
        width: 100%;
        font-size: 16px;
        font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
        background: #f8f7f7;
        color: #4d5156;
        margin: 0;
        padding: 0;
    }

    a {
        color: #4d5156;
    }

    a:hover {
        color: #146dac;
        cursor: pointer;
    }
    .sub_css {
        display: none;
    }
    .advertising{
        height: 60px;
        position: fixed;
        bottom: 55px;
        z-index: 99;
    }
    .fa-times{
        font-size: 24px;
        color: #100909;
        position: absolute;
        right: 7px;
        top: 0;
    }
    .color_white{
        color: white;
    }
    /*S ハンバーガーメニュー*/
    .base_nav {
        height: auto;
        padding: 0;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }

    .site_title {
        font-size: 25px;
        margin: 10px auto 10px 60px;
        font-weight: bolder;
        color: black;
    }

    .navbar-toggler {
        padding: 0;
        margin-left: 5px;
        border-style: none;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    .nav-item,
    .dropdown-item {
        padding-left: 10px;
        font-size: 16px;
    }

    .dropdown-menu {
        border: none;
    }
    /*E ハンバーガーメニュー*/


    /*S ナビメニュー*/
    footer {
        margin-top: 70px;
    }
    .nav {
        background: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
        justify-content: space-around;
    }
    .nav_login,
    .nav_add,
    .nav_home {
        padding: 0;
        border-style: none;
    }
    .fa-smile,
    .fa-door-open,
    .fa-home {
        font-size: 22px;
        color: #666565;
    }

    .footer_nav_base {
        margin: 0;
        font-size: 14px;
    }
    /*E ナビメニュー*/


    /*S タブメニュー*/
    .tab-wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .tab-wrap:after {
      content: '';
      width: 100%;
      height: 3px;
      background: #325A8C;
      display: block;
      order: -1;
    }
    .tab-label {
      color: White;
      background: LightGray;
      font-weight: bold;
      white-space: nowrap;
      text-align: center;
      padding: 10px .5em;
      order: -1;
      position: relative;
      z-index: 1;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      flex: 1;
    }
    .tab-label:not(:last-of-type) {
      margin-right: 5px;
    }
    .tab-content {
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    .tab-switch:checked+.tab-label {
      background: #325A8C;
    }
    .tab-switch:checked+.tab-label+.tab-content {
      height: auto;
      overflow: auto;
      opacity: 1;
      transition: .5s opacity;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
    .tab-switch {
      display: none;
    }
    /*E タブメニュー*/


    /*S app/home.html*/
    .card-img-top {
        width: 100%;
        height: 180px;
    }
    .event_list {
        font-weight: bolder;
        font-size: 20px;
        color: black;
    }
    .card-text {
        font-size: 14px;
    }
    /*E app/home.html*/
    /*S login.html*/
    .site_account_title {
        color: black;
        font-size: 35px;
        font-weight: bolder;
    }

    .login {
        width: 85%;
        background: #ffffff;
        border-radius: 7px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }

    .login_text {
        font-size: 22px;
        color: black;
    }

    .login_form_email,
    .login_form_password {
        width: 70%;
    }

    .login_button {
        width: 70%;
    }

    .login_link_text {
        font-size: 12px;
        color: #838383;
    }
    .twitter{
        color: #ffffff;
    }

    .btn-twitter {
        font-size: 15px;
        width: 70%;
        background: #55ACEE;
    }
    /*S signup.html*/

    .form_self_introduction{
        resize: none;
        height: 60px;
        width: 95%;
    }
    .any_text{
        font-size: 12px;
        color: #838383;
    }

    /*E signup.html*/
    /*S terms.html*&privacy.html*/

    .terms_text_big,
    .terms_text{
        line-height: 2em
    }
    .terms_text_small{
        font-size:14px ;
        line-height: 2em
    }
    /*E terms.html*&privacy.html*/
    /*S contact_form.html*/
    .contact_detail_text,
    .contact_result_text{
        font-size:14px;
    }
    /*E contact_form.html*/
    /*S my_page.html*/
    .my_page_text {
        font-size: 20px;
    }
    .fa-user-cog,
    .fa-envelope,
    .fa-lock,
    .fa-edit,
    .fa-trash-alt,
    .fa-google,
    .fa-calendar-day,
    .fa-clock,
    .fa-map-marker-alt,
    .fa-user,
    .fa-twitter,
    .fa-search,
    .fa-file-signature,
    .fa-user,
    .fa-unlock-alt,
    .fa-buromobelexperte{
        font-size: 18px;
    }
    .fa-google{
        color: #4285f4
    }
    .my_post_text {
        color: #807e7e;
    }
    /*E my_page.html*/
    .delete_button,
    .edit_button {
        background-color: transparent;
        border: none;
        outline: none;
        appearance: none;
    }
    /*S detail.html*/
    .post_holding_method_detail {
        width: 100px;
        color: #ffffff;
        background: #c482c4;
        border-radius: 10px;
    }
    .fa-twitter{
        color: #55ACEE;
    }
    /*E detail.html*/
    /*S post_create.html*/
    /*ログインしていない場合*/
    .please_login {
        background: #a5a5a5;
        height: 100vh;
    }

    .login_link_div {
    padding-top: 200px;
    }

    .fa-sign-in-alt {
        padding-bottom: 40px;
        font-size: 30px;
        color: #ffffff;
    }

    .login_link_post {
        color: #ffffff;
    }
    /*ログインしている場合*/
    .event_text_title{
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    label[for=id_event_type_0],
    label[for=e-sportList_0],
    label[for=id_holding_method_0]{
        display: none;
    }

    label[for=e-sportList_1],
    label[for=e-sportList_2],
    label[for=e-sportList_3],
    label[for=e-sportList_4],
    label[for=id_holding_method_1],
    label[for=id_holding_method_2] {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 6px 18px;
        cursor: pointer;
        font-size: 14px;
        margin: 3px;
    }
    /*E create.html*/
    /*S post_detail*/
    .search_button{
        background: #ffffff;
    }
    .post_day{
        background: #baedf3;
        border: 1px solid rgba(0,0,0,.125);
    }
    .post_title{
        font-size: 18px;
    }
    .text_event{
        font-size: 12px;
        margin-left: auto;
        margin-right: 0px;
    }
    .event_image{
        height: 200px;
        width: 100%;
    }
    .search_tweet{
        justify-content: flex-end;
    }
    .link-twitter_text{
        font-size: 14px;
        color: #838383;
    }
    .quest_time{
        font-size: 14px;
    }
    /*E post_detail*/
    /*S report.html*/
    .report_link{
        font-size: 12px;
        color: #bab5b5;
    }
    /*E report.html*/



    /*S mg/pd*/
    .mg_auto{
        margin-left: auto;
        margin-right: auto;
    }
    .mg_0{
        margin: 0;
    }
    .mg_t0{
        margin-top: 0;
    }
    .mg_t10{
        margin-top:10px;
    }
    .mg_t20{
        margin-top:20px;
    }
    .mg_t30{
        margin-top:30px;
    }
    .mg_t40{
        margin-top:40px;
    }
    .mg_t70{
        margin-top:70px;
    }
    .mg_l10{
        margin-left:10px;
    }
    .mg_r10{
        margin-right: 10px;
    }
    .mg_b0{
        margin-bottom: 0;
    }
    .mg_b5{
        margin-bottom: 5px;
    }
    .mg_b10{
        margin-bottom: 10px;
    }
    .mg_b20{
        margin-bottom:20px;
    }
    .mg_b25{
        margin-bottom: 25px;
    }
    .mg_b40{
        margin-bottom: 40px;
    }
    .mg_b60{
        margin-bottom: 60px;
    }

    .pd_0{
        padding: 0;
    }
    .pd_t10{
        padding-top: 10px;
    }
    .pd_t15{
        padding-top: 15px;
    }
    .pd_t20{
        padding-top: 20px;
    }
    .pd_b10{
        padding-bottom:10px;
    }
    .pd_b15{
        padding-bottom: 15px;
    }
    .pd_b20{
        padding-bottom: 20px;
    }
    .pd_b30{
        padding-bottom: 30px;
    }
    .pd_b40{
        padding-bottom: 40px;
    }
    .pd_r10{
        padding-right: 10px;
    }
    .pd_r15{
        padding-right: 15px;
    }
    .pd_r20{
        padding-right: 20px;
    }
    .pd_l10{
        padding-left: 10px;
    }
    .pd_l15{
        padding-left: 15px;
    }
    .pd_l20{
        padding-left: 20px;
    }
    .text_C{
        text-align: center;
    }
    .width_100{
        width: 100%;
    }
    .width_95{
        width: 95%;
    }
    .width_80{
        width: 80%;
    }
    .width_60{
        width: 60%;
    }

    .line-none{
        border: none;
        outline: none;
        resize: none;
    }
    .back_base{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .font_border{
        font-weight: bolder;
    }
    .dp_flex{
        display: flex;
    }


    /*E mg/pd*/


}