/*app/base.html*/
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    background: #f8f7f7;
    color: #4d5156;
}
a{
    color: #4d5156;
}
a:hover {
    color: #146dac;
    cursor: pointer;
}
/*ハンバーガーメニュー*/

#base_nav{
    height: auto;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.site_title{
    font-size: 25px;
    margin: 10px auto 10px 60px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.navbar-toggler{
    padding: 0;
    margin-left: 5px;
    border-style: none;
}
.navbar-toggler:focus {
	outline:0;
}
.nav-item,
.dropdown-item
{
    padding-left: 10px;
    font-size: 16px;
}
.dropdown-menu{
     border: none;
}
/*ナビメニュー*/
footer{
    margin-top: 70px;
}
.nav{
    background: #ffffff;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    justify-content: space-around;
}
#nav_login,
#nav_add,
#nav_home {
    padding: 0;
    border-style: none;
    text-align: center;
}
.fa-smile,
.fa-door-open,
.fa-home{
    font-size: 22px;
    color: #666565;
}
.footer_nav_base{
    margin: 0;
    font-size: 14px;
}


/*app/home.html*/
.home_card{
    margin-top: 30px;
}
.event_title{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
}
.card-img-top{
    height: 180px;
    filter: blur(1px);
}
.card{
    margin-bottom: 25px;
}
.event_list{
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.card-text{
    font-size: 14px;
}

/*login.html*/
.site_account_title{
    margin-top: 70px;
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.login{
    margin-top: 20px;
    width: 85%;
    background: #ffffff;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.login_text{
    font-size: 22px;
    text-align: center;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.login_email,
.login_password{
   text-align: center;
}
.login_form_email,
.login_form_password
{
  width: 70%;
}
#login_button{
    margin-top: 5px;
    text-align: center;
    width: 70%;
}
.login_link_group{
    margin-top: 10px;
    padding-bottom: 10px;

}
.login_link_text{
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #838383;
}

/*signup.html*/
.site_account_sign_title{
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.signup{
    margin-top: 20px;
    width: 85%;
    background: #ffffff;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.signup_text{
    font-size: 22px;
    text-align: center;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.username,
.self_introduction,
.email,
.password1,
.password2{
  text-align: center;
}
.form_self_introduction{
    width: 80%;
    height: 90px;
    resize: none;
}
.form_username,
.form_email,
.form_password {
    width: 80%;
}
.any_text{
    padding-left:15px;
    font-size: 12px;
    margin: 0;
}
#signup_button{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 50%;
}

/*signup_text.html*/
.signup_text_header{
    height: auto;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.signup_text_title{
    font-size: 25px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.thank_you_text{
    margin-top: 70px;
    text-align: center;
    color: black;
}
.welcome,
.please_continue{
    text-align: center;
    margin: 10px;
}

#next_login{
    margin-top:10px;
    margin-bottom: 10px;
}

/*contact_form.html*/
.contact_form_text{
    font-size: 25px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.contact_detail_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.contact_username,
.contact_us,
.contact_message,
.contact_email{
    margin-left: 30px;
}
.form-contact_message{
    width: 90%;
    height: 200px;
    resize: none;
}
.form-contact_us,
.form-contact_email,
.form-contact_username{
      width: 90%;
}
#contact_form_button{
    margin-top: 30px;
}
#cancel_button{
    margin-left: 80px;
}
#send_form_button{
    margin-left: 15px;
}



/*contact_result.html*/

.contact_result_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}
.contact_thank_you_text{
    margin-top: 90px;
    text-align: center;
    color: black;
}

/*email_change_form.html*/
.email_change_form_text{
    font-size: 25px;
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.email_now_detail_text,
.email_new_detail_text{
    font-weight: bolder;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.email_change_detail_text{
    padding-left: 20px;
    padding-right: 20px;
}
.form_email_change{
    margin-left: 20px;
}
.email_change_form_button{
    margin-top: 30px;
}
.email_now{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}
.separate_hr{
    margin-top: 0;
    margin-bottom: 10px;
}

/*email_change_done.html*/
.email_change_thank_you_text{
    margin-top: 60px;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.email_change_done_text_weight{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.email_change_done_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}



/*password_change.html*/
.password_change_text{
    font-size: 25px;
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.old_password_text,
.new_password_text{
    font-weight: bolder;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.form_old_password{
    margin-left: 20px;
    margin-bottom: 50px;
}
.form_new_password{
    margin-left: 20px;
}
.password_change_form_button{
    margin-top: 30px;
}



/*password_reset_form.html*/
.password_reset_form_text{
    font-size: 25px;
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
}
.password_reset_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.password_reset_detail_text{
    font-weight: bolder;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.form_password_change{
    margin-left: 20px;
}
.password_change_form_button{
    margin-top: 30px;
}

/*password_reset_done.html*/
.password_reset_thank_you_text{
    margin-top: 60px;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.password_reset_done_text_weight{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.password_reset_done_text{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}



/*post_create.html*/
/*ログインしていない場合*/
.please_login{
    background: #a5a5a5;
    height: 100vh;

}
.login_link_div{
    padding-top: 400px;
}
.fa-sign-in-alt{
    padding-bottom: 20px;
    font-size: 30px;
    color: #ffffff;
}
.login_link_post{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
/*ログインしている場合*/
.post_button{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Shippori Mincho', serif;
}
.post_create_hr{
    margin: 0;
}
.event_post_title,
.event_days{
    margin-top: 20px;
    margin-bottom: 40px;
}
.event_type{
    margin-top: 20px;
    margin-bottom: 5px;
}
.event_text{
    margin-top: 20px;
}
.event_text_title{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-left: 10px;
}
.form_event_title{
    text-align: center;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
ul {
    list-style: none;
    margin: 0;
}
.form_event_type{
   display:inline-block;
    padding: 10px;
    margin: 0;
}
.event_event_date,
.event_start_application_date,
.event_finish_application_date{
    margin-bottom: 20px;
}
.form_event_date,
.form_start_application_date,
.form_finish_application_date{
    margin-left: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}
.form_work_detail,
.form_sport_detail,
.form_e_sport_detail,
.form_hobby_detail,
.form_holding_method{
    padding: 10px;
    margin: 0;
}

.post_table{
    margin: 0;
}

label {
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 6px 18px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}




/*イベントdetail_html*/
.post_list{
    margin-top: 30px;
}
.event_detail_text{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}
.card-detail{
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
     margin-top: 30px;
}
.post_day{
    background: #a7d9fc;
    font-weight: bold;
    font-size: 20px;

}
.detail_body{
    padding: 0;
    background: #ffffff;
}
.post_title_text{
    font-size: 12px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}
.post_title{
    margin: 0;
    padding-left: 10px;
    font-weight: bolder;
}
.card-footer{
    background: #ffffff;
    display: flex;
}
.post_event_type{
    margin: 0;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #75ae75;
    border-radius: 10px;
}
.post_holding_method{
    margin: 0 0 0 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #c482c4;
    border-radius: 10px;
}
.link_detail{
    margin-right:10px;
    margin-bottom: 5px;
}
.fa-arrow-right{
     font-size: 22px;
}

.detail_images{
  position: relative;
  }
.detail_images .detail_text {
    font-weight: bold;
    font-size: 28px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
.detail_img{
    margin-top: 1px;
    filter: blur(3px);
}
.event_detail_div{
    margin-top:20px ;
    margin-left: 10px;
    display: flex;
}
.event_detail_icon{
    font-size: 20px;
}
.master_username{
    padding-left: 10px;
    font-size: 16px;
}

/*detail.html*/
.post_detail{
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.main_detail{
    margin-top: 30px;
}
.post_title_detail{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.detail_hr{
    margin: 0 auto;
    width: 95%;
}
.detail_title_text{
    margin: 0;
    font-size: 12px;
    font-weight: bolder;
    padding-left: 5px;
}
.detail_descriptions{
    margin-top: 20px;
    margin-bottom: 40px;
}
.event_description_div{
    display: flex;
}
.event_detail_description_text{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bolder;
}
.event_detail_description{
    margin-left: 15px;
    font-size: 22px;
}
.event_date_detail,
.event_date_detail,
.event_place_detail,
.detail_username{
    margin-left: 15px;
    font-size: 18px;
}
.event_tag{
    margin-top:20px;
    margin-bottom: 30px;
    display: flex;
}
.post_event_detail{
    margin: 0 0 0 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #73c6d9;
    border-radius: 20px;
}
.post_event_type_detail{
    margin: 0 0 0 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #75ae75;
    border-radius: 20px;
}
.post_holding_method_detail{
    margin: 0 0 0 10px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #c482c4;
    border-radius: 10px;
}
.post_detail_individual{
    height: 100vh;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.nav-tabs{
    justify-content: space-around;
    font-size: 16px;
    color: #61a3d2;
}
.nav-tabs:hover {
    color: #053d64;
    cursor: pointer;

}