@media screen and (min-width:1024px) {
   /*app/base.html*/
    body {
        width: 100%;
        font-size: 20px;
        font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
        background: #f8f7f7;
        color: #4d5156;
        margin: 0 auto;
        padding: 0;
    }

    a {
        color: #4d5156;
    }

    a:hover {
        color: #146dac;
        cursor: pointer;
    }
    .main_css {
        display: none;
    }
    .site_title{
        font-size: 45px;
    }
    .nav-link{
        font-size: 15px;
    }
    .main_base_header{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .sub_footer{
        font-size: 16px;
         color: #838383;
    }

    /*S タブメニュー*/
    .tab-wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .tab-wrap:after {
      content: '';
      width: 100%;
      height: 3px;
      background: #325A8C;
      display: block;
      order: -1;
    }
    .tab-label {
      color: White;
      background: LightGray;
      font-weight: bold;
      white-space: nowrap;
      text-align: center;
      padding: 10px .5em;
      order: -1;
      position: relative;
      z-index: 1;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      flex: 1;
    }
    .tab-label:not(:last-of-type) {
      margin-right: 5px;
    }
    .tab-content {
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    .tab-switch:checked+.tab-label {
      background: #325A8C;
    }
    .tab-switch:checked+.tab-label+.tab-content {
      height: auto;
      overflow: auto;
      opacity: 1;
      transition: .5s opacity;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
    .tab-switch {
      display: none;
    }
    /*E タブメニュー*/


    /*S app/home.html*/
    .event_detail_text{
        font-size: 24px;
    }
    .card{
        width: 550px;

    }
    .card-img-top{
        width: 100%;
        height: 220px;
    }
    /*E app/home.html*/
    /*S login.html*/
    .site_account_title {
        color: black;
        font-size: 45px;
    }

    .login {
        width: 85%;
        border-radius: 7px;
    }

    .login_text{
        font-size: 30px;
        color: black;
    }

    .login_form_email,
    .login_form_password {
        height: 45px;
        width: 50%;
    }
    .twitter{
        color: #ffffff;
    }
    .login_button {
        width: 40%;
        height: 45px;
    }

    .login_link_text {
        font-size: 18px;
        color: #838383;
    }

    .fa-twitter {
        color: white;
    }

    .btn-twitter {
        height: 45px;
        width: 40%;
        background: #55ACEE;
    }
    /*S signup.html*/
    .site_account_sign_title {
        color: black;
        font-size: 45px;
    }

    .form_self_introduction{
        resize: none;
        height: 150px;
        width:95%;
    }
    .signup_text_detail{
        font-size: 22px;
    }
    .any_text{
        font-size: 18px;
        color: #838383;
    }
    .signup_button{
        font-size: 18px;
        height: 45px;
        width: 15%;
    }
    /*E signup.html*/
    /*S change/contact.html*/
    .password_reset_form_text,
    .email_change_form_text,
    .password_change_text,
    .change_text,
    .contact_thank_you_text,
    .contact_form_text,
    .my_page_text
    .delete_text{
        font-size: 30px;
    }
    .change_text_detail,
    .contact_result_text{
        font-size: 24px;
    }
    .password_reset_detail_text,
    .change_password_text,
    .email_change_text,
    .rest_password_text,
    .delete_text_sub{
        font-size: 22px;
    }
    .password_change_form_button,
    .email_change_form_button,
    .password_change_form_button,
    .home_btn,
    .send_form_button{
        font-size: 18px;
        height: 45px;
        width: 15%;
    }

    /*E change.html*/
    /*S terms.html*&privacy.html*/
    .terms_text_big,
    .terms_text{
        line-height: 2em
    }
    .terms_text_small{
        font-size:16px ;
        line-height: 2em
    }
    /*E terms.html*&privacy.html*/
    /*S my_page.html*/
    .post_detail_change,
    .user_change_text{
        font-size: 22px;
    }
    .card-detail {
        border-right:1px solid rgba(0,0,0,.125);
        border-left:1px solid rgba(0,0,0,.125);
        border-bottom:1px solid rgba(0,0,0,.125);
    }
    .fa-user-cog,
    .fa-envelope,
    .fa-lock,
    .fa-edit,
    .fa-trash-alt,
    .fa-google,
    .fa-calendar-day,
    .fa-clock,
    .fa-map-marker-alt,
    .fa-user,
    .fa-twitter,
    .fa-search,
    .fa-file-signature,
    .fa-user,
    .fa-times,
    .fa-unlock-alt,
    .fa-buromobelexperte{
        font-size: 24px;
    }
    .fa-google{
        color: #4285f4
    }
    .my_post_text {
        font-size: 24px;
        color: #807e7e;
    }
    /*E my_page.html*/
    .delete_button,
    .edit_button {
        background-color: transparent;
        border: none;
        outline: none;
        appearance: none;
    }
    .change_btn{
        font-size: 18px;
        height: 25px;

    }
    /*S detail.html*/
    .post_holding_method_detail {
        width: 150px;
        color: #ffffff;
        background: #c482c4;
        border-radius: 10px;
    }
    .fa-twitter{
        color: #55ACEE;
    }
    .post_title_detail{
        font-size: 45px;
    }
    .event_content_text{
        font-size: 22px;
    }
    .event_detail_text{
        font-size: 22px;
    }
    /*E detail.html*/
    /*S post_create.html*/
    /*ログインしていない場合*/
    .please_login {
        background: #a5a5a5;
        height: 100vh;
    }

    .login_link_div {
    padding-top: 300px;
    }

    .fa-sign-in-alt {
        padding-bottom: 100px;
        font-size: 50px;
        color: #ffffff;
    }

    .login_link_post {
        font-size: 30px;
        color: #ffffff;
    }
    /*ログインしている場合*/
    .event_text_title{
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    label[for=id_event_type_0],
    label[for=e-sportList_0],
    label[for=id_holding_method_0]{
        display: none;
    }

    label[for=e-sportList_1],
    label[for=e-sportList_2],
    label[for=e-sportList_3],
    label[for=e-sportList_4],
    label[for=id_holding_method_1],
    label[for=id_holding_method_2] {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 8px 20px;
        cursor: pointer;
        font-size: 18px;
        margin: 6px;
    }
    /*E create.html*/
    /*S post_detail*/
    .search_button{
        background: #ffffff;
    }
    .post_day{
        font-size: 26px;
        background: #baedf3;
        border: 1px solid rgba(0,0,0,.125);
    }
    .post_title{
        font-size: 28px;
    }
    .master_username{
        font-size: 24px;
    }
    .fa-arrow-alt-circle-right{
        font-size: 20px;
    }
    .text_event{
        font-size: 18px;
        margin-left: auto;
        margin-right: 0px;
    }
    .event_image{
        height: 400px;
        width: 100%;
    }
    .post_day_event{
        font-size: 26px;
    }
    .search_tweet{
        justify-content: flex-end;
    }
    .link-twitter_text{
        font-size: 16px;
        color: #838383;
    }
    /*E post_detail*/
    /*S report.html*/
    .report_link{
        font-size: 16px;
        color: #bab5b5;
    }
    /*E report.html*/


    /*S mg/pd*/
    .mg_auto_sub{
        margin-left: auto;
        margin-right: auto;
    }
    .mg_0_sub{
        margin: 0;
    }
    .mg_t0_sub{
        margin-top: 0;
    }
    .mg_t10_sub{
        margin-top:10px;
    }
    .mg_t20_sub{
        margin-top:20px;
    }
    .mg_t30_sub{
        margin-top:30px;
    }
    .mg_t40_sub{
        margin-top:40px;
    }
    .mg_t60_sub{
        margin-top: 60px;
    }
    .mg_t70_sub{
        margin-top:70px;
    }
    .mg_t100_sub{
        margin-top: 100px;
    }
    .mg_l10_sub{
        margin-left:10px;
    }
    .mg_l25_sub{
        margin-left:25px;
    }
    .mg_l30_sub{
        margin-left:30px;
    }
    .mg_l40_sub{
        margin-left:40px;
    }
    .mg_l60_sub{
        margin-left:60px;
    }
    .mg_r10_sub{
        margin-right: 10px;
    }
    .mg_r20_sub{
        margin-right: 20px;
    }
    .mg_r30_sub{
        margin-right: 30px;
    }
    .mg_r40_sub{
        margin-right: 40px;
    }
    .mg_r60_sub{
        margin-right: 60px;
    }
    .mg_b0_sub{
        margin-bottom: 0;
    }
    .mg_b5_sub{
        margin-bottom: 5px;
    }
    .mg_b10_sub{
        margin-bottom: 10px;
    }
    .mg_b20_sub{
        margin-bottom:20px;
    }
    .mg_b25_sub{
        margin-bottom: 25px;
    }
    .mg_b30_sub{
        margin-bottom: 30px;
    }
    .mg_b40_sub{
        margin-bottom: 40px;
    }
    .mg_b60_sub{
        margin-bottom: 60px;
    }

    .pd_0_sub{
        padding: 0;
    }
    .pd_t10_sub{
        padding-top: 10px;
    }
    .pd_t15_sub{
        padding-top: 15px;
    }
    .pd_t20_sub{
        padding-top: 20px;
    }
    .pd_t40_sub{
        padding-top: 40px;
    }
    .pd_b10_sub{
        padding-bottom:10px;
    }
    .pd_b15_sub{
        padding-bottom: 15px;
    }
    .pd_b20_sub{
        padding-bottom: 20px;
    }
    .pd_b30_sub{
        padding-bottom: 30px;
    }
    .pd_b40_sub{
        padding-bottom: 40px;
    }
    .pd_b60_sub{
        padding-bottom: 60px;
    }
    .pd_r10_sub{
        padding-right: 10px;
    }
    .pd_r15_sub{
        padding-right: 15px;
    }
    .pd_r20_sub{
        padding-right: 20px;
    }
    .pd_r40_sub{
        padding-right: 40px;
    }
    .pd_r60_sub{
        padding-right: 60px;
    }
    .pd_l10_sub{
        padding-left: 10px;
    }
    .pd_l15_sub{
        padding-left: 15px;
    }
    .pd_l20_sub{
        padding-left: 20px;
    }
    .pd_l25_sub{
        padding-left: 25px;
    }
    .pd_l40_sub{
        padding-left: 40px;
    }
    .pd_l60_sub{
        padding-left: 60px;
    }
    .text_C_sub{
        text-align: center;
    }
    .width_100_sub{
        width: 100%;
    }
    .width_95_sub{
        width: 95%;
    }
    .width_80_sub{
        width: 80%;
    }
    .width_60_sub{
        width: 60%;
    }
    .width_40_sub{
        width: 40%;
    }
    .height_50_sub{
        height: 50px;
    }
    .line-none_sub{
        border: none;
        outline: none;
        resize: none;
    }
    .back_base_sub{
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    }
    .font_border_sub{
        font-weight: bolder;
    }
    .dp_flex_sub{
        display: flex;
    }
    .j_s {
        justify-content: space-around;
    }
    /*E mg/pd*/


}