{% extends 'app/base.html' %}
{% load static %}
{% block body %}

<body>
  <a class="nav-link" href="{% url 'report' post.id %}">コメント</a>
    <section class="post_detail back_base back_base_sub">
        <p class="detail_title_text font_border pd_l10 mg_0 pd_t20 font_border_sub pd_l25_sub mg_0_sub pd_t40_sub">イベント名</p>
         <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
        <h4 class="post_title_detail text_C pd_t20 pd_b20 mg_0 font_border text_C_sub pd_t40_sub pd_b40_sub mg_0_sub font_border_sub">{{ post.title}}</h4>
        <p class="detail_title_text font_border pd_l10 mg_0 pd_t20 font_border_sub pd_l25_sub mg_0_sub pd_t40_sub">イベント詳細</p>
        <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
        <div class="event_description_div dp_flex dp_flex_sub mg_t40_sub">
            <p class="event_detail_description_text mg_l10 mg_l25_sub">応募期間</p>
            <p class="event_detail_text pd_l10 pd_b15 pd_l20_sub">{{ post.start_application_date}} ~ {{ post.finish_application_date}}</p>
        </div>
        <div class="event_description_div dp_flex dp_flex_sub  mg_t40_sub">
            <i class="fas fa-calendar-day pd_l10 pd_b15 mg_l25_sub"></i>
            <p class="event_detail_text pd_l10 pd_b15 pd_l20_sub">{{ post.event_date}}</p>
        </div>
        <div class="event_description_div dp_flex dp_flex_sub  mg_t40_sub">
            <i class="fas fa-clock pd_l10 pd_b15 mg_l25_sub"></i>
            <p class="event_detail_text pd_l10 pd_b15 pd_l20_sub">{{ post.start_time  }} ~ {{ post.end_time  }}</p>
        </div>
        <div class="event_description_div dp_flex dp_flex_sub  mg_t40_sub">
            <i class="fas fa-map-marker-alt pd_l10 pd_b15 mg_l25_sub"></i>
            <p class="event_detail_text pd_l10 pd_b15 pd_l20_sub">{{ post.address  }}</p>
        </div>
        <div class="event_description_div dp_flex dp_flex_sub  mg_t40_sub">
            <i class="fas fa-user pd_l10 pd_b15 mg_l25_sub"></i>
            <p class="event_detail_text pd_l10 pd_b20 pd_l20_sub">{{ post.master_username  }}</p>
        </div>
            <p class="post_holding_method_detail text_C mg_l10 mg_b40 mg_l25_sub mg_t40_sub text_C_sub">{{ post.get_holding_method_display }}</p>

        <P class="detail_title_text font_border pd_l10 mg_0 pd_t20 font_border_sub pd_l25_sub mg_0_sub pd_t40_sub">イベント内容</P>
         <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
        <div class="post_detail_individual pd_l20 pd_r20 mg_b40 mg_l40_sub mg_l40_sub mg_b60_sub">
            <p class="event_content_text">{{ post.text | safe }}</p>
        </div>
        <P class="detail_title_text font_border pd_l10 mg_0 pd_t20 font_border_sub pd_l25_sub mg_0_sub pd_t40_sub">イベント申し込み</P>
         <hr class="hr mg_t10 mg_b20 width_95  mg_b10_sub mg_t0_sub width_95 width_95_sub">
        <div class="site_application pd_b40">
            <div class="site pd_l10 pd_t20_sub pd_b20_sub">
               <i class="fab fa-google pd_b15 mg_l25_sub"></i>
                <a class="site_link pd_l10 pd_b15 pd_l20_sub" href="{{ post.link_url }}">申し込みページ</a>
            </div>
            <div class="sns pd_l10 pd_b60_sub">
                <i class="fab fa-twitter pd_b15 mg_l25_sub"></i>
                <a class="sns_link pd_l10 pd_b15 pd_l20_sub" href="{{ post.sns_url }}">Twitter</a>
            </div>
            </div>
    </section>
{% endblock body %}