{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="home_card">
        <h6 class="event_detail_text">イベント一覧</h6>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/Fortnite.jpg' %}" class="card-img-top" alt="FORTNITEに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'fortnite' %}">
                        <h3 class="event_list">FORTNITE</h3>
                    </a>
                    <p class="card-text">フォートナイトに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Pubg.jpg' %}" class="card-img-top" alt="PUBGに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'pubg' %}">
                        <h3 class="event_list">PUBG</h3>
                    </a>
                    <p class="card-text">PUBGに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/Apex.jpg' %}"  class="card-img-top" alt="APEXに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'apex' %}">
                        <h3 class="event_list">APEX</h3>
                    </a>
                    <p class="card-text">APEXに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Minecraft.jpg' %}"  class="card-img-top" alt="MINECRAFTに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'minecraft' %}">
                        <h3 class="event_list">MINECRAFT</h3>
                    </a>
                    <p class="card-text">MINECRAFTに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/League.jpg' %}"  class="card-img-top" alt="League of Legendsに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'league' %}">
                        <h3 class="event_list">League of Legends</h3>
                    </a>
                    <p class="card-text">League of Legendsに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/OtherESport.jpg' %}"  class="card-img-top" alt="その他に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'other_e_sport' %}">
                        <h3 class="event_list">その他</h3>
                    </a>
                    <p class="card-text">その他のE-Sportのオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}