{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <div class="detail_images">
        <img src="{% static 'img/hobby.jpg' %}" class="card-img-top detail_img" alt="仕事に関するイベント">
        <p class="detail_text">HOBBY</p>
    </div>
    <section class="post_list">
    <h6 class="event_detail_text">イベント一覧</h6>
        <div class="post_individual">
            {% for Post in posts %}
                <a href="{% url 'post_detail' Post.id %}" class="post_detail_next">
                    <div class="card-detail">
                        <h5 class="card-header post_day">{{ Post.event_date}}開催予定</h5>
                        <div class="card-body detail_body">
                            <p class="post_title_text">Title</p>
                            <h5 class="card-title post_title">{{ Post.title}}</h5>
                            <div class="event_detail_div">
                                <i class="fas fa-user event_detail_icon"></i>
                                <p class="card-text master_username">{{ Post.master_username  }}</p>
                            </div>
                            <div class="text-right link_detail">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="card-footer">
                                <p class="post_event_type">{{ Post.get_hobby_detail_display }}</p>
                                <p class="post_holding_method">{{ Post.get_holding_method_display }}</p>
                            </div>
                        </div>
                </div>
                </a>

            {% endfor %}
        </div>
    </section>
{% endblock body %}