{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}
    {% if user.is_authenticated %}
        <section class="create_post">
            <form  class="post_form"  method="POST">
                <div class="text-right">
                    <button type="submit" class="btn btn-success post_button py-0">POST</button>
                </div>
                {% csrf_token %}
                <p class="event_text_title">Title</p>
                <hr class="post_create_hr">
                <div class="event_post_title">
                    <table class="table">
                        {% render_field form.title class="form_event_title"  placeholder="タイトルを入力してください。" %}
                    </table>
                </div>

                <p class="event_text_title">Days</p>
                <hr class="post_create_hr">
                <div class="event_days">
                    <div class="event_event_date">
                        <table class="table">
                            {% render_field form.event_date class="form_event_date"  placeholder="開催日" %}
                        </table>
                    </div>
                    <div class="event_start_application_date">
                        <table class="table">
                            {% render_field form.start_application_date class="form_start_application_date"  placeholder="応募開始日" %}
                        </table>
                    </div>
                    <div class="event_finish_application_date">
                        <table class="table">
                            {% render_field form.finish_application_date class="form_finish_application_date"  placeholder="応募締切日" %}
                        </table>
                    </div>
                </div>
                <p class="event_text_title">Time</p>
                <hr class="post_create_hr">
                <div class="event_start_time">
                    <table class="post_table">
                            {% render_field form.start_time class="form_start_time" type="time" placeholder="開始予定時間" %}
                    </table>
                </div>
                <div class="event_end_time">
                    <table class="post_table">
                            {% render_field form.end_time  class="form_end_time"  type="time" placeholder="終了予定時間" %}
                    </table>
                </div>
                <p class="event_text_title">Place</p>
                <hr class="post_create_hr">
                <div class="event_address">
                    <table class="table">
                        {% render_field form.address class="form_address"  placeholder="開催場所" %}
                    </table>
                </div>
                <div class="event_type" id="firstList">
                    <p class="event_text_title">Event Type</p>
                    <hr class="post_create_hr">
                    <table class="post_table event_table">
                            {% render_field form.event_type name="firstList" class="form_event_type"  onclick="formSwitch()"  %}
                    </table>
                </div>
                <p class="event_text_title" id="event_text_title">Event Detail</p>
                <div class="e_sport_detail" >
                    <table class="post_table">
                            {% render_field form.e_sport_detail class="form_e_sport_detail" id="e-sportList" name="place[]" %}
                    </table>
                </div>
                <p class="event_text_title">Holding Method</p>
                <div class="event_holding_method">
                    <table class="post_table">
                            {% render_field form.holding_method class="form_holding_method" %}
                    </table>
                </div>
                <p class="event_text_title">Application URL</p>
                <hr class="post_create_hr">
                <div class="event_link_url">
                    <table class="post_table">
                            {% render_field form.link_url class="form_link_url"  placeholder="申し込みURL"%}
                    </table>
                </div>
                <div class="event_sns_url">
                    <table class="post_table">
                            {% render_field form.sns_url class="form_sns_url"  placeholder="TwitterURL"%}
                    </table>
                </div>

                <div class="event_text">
                     <p class="event_text_title">Event Contents</p>
                    <table class="table">
                        {% render_field form.text class="form_event_text"  %}
                    </table>
                </div>
            </form>
        </section>
    {% else %}
        <section class="please_login">
        <div class="login_link_div">
            <div class="text-center">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    <p class="login_link_post">投稿するにはログインが必要です</p>
                </a>
            </div>
        </div>

        </section>
    {% endif %}
{% endblock body %}