{% extends 'app/base.html' %}
{% load static %}
{% block body %}
    <section class="delete">
        <h4 class="delete_text mg_t40 mg_b40 text_C font_border">投稿の削除</h4>
        <p class="delete_text_sub  mg_t10 text_C">本当に「{{ post.title }}」を削除しますか？</p>
        <form method='POST' role="form" action="" class="delete_form">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-danger mg_t30">Delete</button>
            </div>
        </form>
    </section>
{% endblock body %}