{% extends 'app/base.html' %}
{% load static %}

{% block body %}
   <h4 class="change_text mg_t40 mg_b40 text_C font_border mg_t60_sub mg_b60_sub text_C_sub font_border_sub">ご報告ありがとうございます。</h4>
    <P class="change_text_detail mg_t10 text_C pd_r20_sub mg_b20_sub text_C_sub">即座に調査を行い適切な対処を行います。</P>
    <div class="text-center">
        <a class="next_link" href="{% url 'home' %}">
           <button type="submit" class="btn btn-success home_btn mg_b20 mg_b40_sub">ホーム</button>
        </a>
    </div>

{% endblock body %}