{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="home_card">
        <h6 class="event_detail_text">イベント一覧</h6>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/Beginner.jpg' %}" class="card-img-top" alt="初心者に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'beginner' %}">
                        <h3 class="event_list">誰でもOK</h3>
                    </a>
                    <p class="card-text">誰でもOKのイベントに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Experienced.jpg' %}" class="card-img-top" alt="経験者向けに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'experienced' %}">
                        <h3 class="event_list">経験者のみ</h3>
                    </a>
                    <p class="card-text">経験者向けのイベントに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/WatchingGames.jpg' %}"  class="card-img-top" alt="観戦に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'watching' %}">
                        <h3 class="event_list">観戦</h3>
                    </a>
                    <p class="card-text">観戦に関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/OtherSport.jpg' %}"  class="card-img-top" alt="その他に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'other_sport' %}">
                        <h3 class="event_list">その他</h3>
                    </a>
                    <p class="card-text">その他のスポーツのオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}