{% extends 'app/base.html' %}
{% load static %}


{% block body %}
    <section class="home_card">
        <h6 class="event_detail_text">イベント一覧</h6>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/Seminar.jpg' %}" class="card-img-top" alt="セミナーに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'seminar' %}">
                        <h3 class="event_list">セミナー</h3>
                    </a>
                    <p class="card-text">セミナーに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Exchange.jpg' %}" class="card-img-top" alt="意見交換会に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'exchange' %}">
                        <h3 class="event_list">意見交換会</h3>
                    </a>
                    <p class="card-text">意見交換会に関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/BusinessCard.jpg' %}"  class="card-img-top" alt="名刺交換会に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'business' %}">
                        <h3 class="event_list">名刺交換会</h3>
                    </a>
                    <p class="card-text">名刺交換会に関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Students.jpg' %}"  class="card-img-top" alt="学生向けに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'students' %}">
                        <h3 class="event_list">学生向け</h3>
                    </a>
                    <p class="card-text">学生向けイベントに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_center">
            <div class="card">
                <img src="{% static 'img/OtherWork.jpg' %}"  class="card-img-top" alt="その他に関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'other_work' %}">
                        <h3 class="event_list">その他</h3>
                    </a>
                    <p class="card-text">その他のオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}