{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="home_card">
        <h6 class="event_detail_text">イベント一覧</h6>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/FORTNITE.jpg' %}" class="card-img-top" alt="FORTNITEに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'fortnite' %}">
                        <h3 class="event_list">FORTNITE</h3>
                    </a>
                    <p class="card-text">フォートナイトに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Apex.jpg' %}"  class="card-img-top" alt="APEXに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'apex' %}">
                        <h3 class="event_list">APEX</h3>
                    </a>
                    <p class="card-text">APEXに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
        <div class="sub_css_flex">
            <div class="card">
                <img src="{% static 'img/Monhan.jpg' %}"  class="card-img-top" alt="モンスターハンターライズに関するイベント">
                <div class="card-body">
                    <a class="card_link" href="{% url 'Monhan' %}">
                        <h3 class="event_list">MONSTER HUNTER RISE</h3>
                    </a>
                    <p class="card-text">モンスターハンターライズに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/Guraburu.jpg' %}"  class="card-img-top" alt="ポケットモンスター ソード&シールド">
                <div class="card-body">
                    <a class="card_link" href="{% url 'Guraburu' %}">
                        <h3 class="event_list">グランブル-ファンタジー</h3>
                    </a>
                    <p class="card-text">グランブル-ファンタジーに関する様々なオンライン・オフラインイベントのページです。</p>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}