{% extends 'app/base.html' %}
{% load static %}


{% block body %}
    <section class="home_card">
        <h6 class="event_detail_text">イベント一覧</h6>
        <div class="card">
            <img src="{% static 'img/work.jpg' %}" class="card-img-top" alt="仕事に関するイベント">
            <div class="card-body">
                <a class="card_link" href="{% url 'work' %}">
                    <h3 class="event_list">Workイベント</h3>
                </a>
                <p class="card-text">キャリアに関する様々なイベントのページです。</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/sport.jpg' %}" class="card-img-top" alt="スポーツに関するイベント">
            <div class="card-body">
                <a class="card_link" href="{% url 'sport' %}">
                    <h3 class="event_list">Sportイベント</h3>
                </a>
                <p class="card-text">スポーツに関するイベントのページです。</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/e-sport.jpg' %}"  class="card-img-top" alt="e-sportに関するイベント">
            <div class="card-body">
                <a class="card_link" href="{% url 'e-sport' %}">
                    <h3 class="event_list">E-sportイベント</h3>
                </a>
                <p class="card-text">e-スポーツに関する様々なイベントのページです。</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'img/hobby.jpg' %}"  class="card-img-top" alt="趣味に関するイベント">
            <div class="card-body">
                <a class="card_link" href="{% url 'hobby' %}">
                    <h3 class="event_list">Hobbyイベント</h3>
                </a>
                <p class="card-text">コミュニケーションに関する様々なイベントのページです。</p>
            </div>
        </div>
    </section>
{% endblock body %}