{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="my_page back_base">
        <div class="my_page_div pd_t20 pd_l10 dp_flex">
            <i class="fas fa-user-cog"></i>
            <a class="post_detail_change pd_l10" href="{% url 'user_update' user.id %}">プロフィールの編集</a>
        </div>
        <div class="my_page_div pd_t20 pd_l10 dp_flex">
            <i class="fas fa-envelope"></i>
            <a class="post_detail_change pd_l10" href="{% url 'email_change' %}">メールアドレスの変更</a>
        </div>
        <div class="my_page_div pd_t20 pd_b20 pd_l10 dp_flex">
            <i class="fas fa-lock"></i>
            <a class="post_detail_change pd_l10" href="{% url 'password_change' %}">パスワードの変更</a>
        </div>
    </section>
    <section class="my_page_post mg_t40">
        <h5 class="my_post_text pd_l20 font_border">主催したイベント</h5>
        {% for Post in object.post_set.all %}
            <div class="card-detail">
                <h5 class="card-header post_day font_border">{{ Post.event_date}}開催予定</h5>
                <div class="card-body detail_body">
                    <div class="text-right">
                        <div class="post_edit_delete">
                            <button class="edit_button pd0" title="編集">
                                <a href="{% url 'post_update' Post.id %}" class="post_detail_next">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </button>
                            <button class="delete_button pd_0" title="削除">
                                <a href="{% url 'post_delete' Post.id %}" class="post_detail_next">
                                    <i class="fas fa-trash-alt" title="削除"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="event_detail_div dp_flex pd_b15">
                        <i class="fas fa-file-signature"></i>
                        <p class="post_title pd_l20 ">{{ Post.title}}</p>
                    </div>
                     <div class="event_detail_div dp_flex pd_b15">
                        <i class="fas fa-user"></i>
                        <p class="master_username pd_l20">{{ Post.master_username  }}</p>
                     </div>
                    <p class="post_holding_method_detail text_C">{{ Post.get_holding_method_display }}</p>
                </div>
                <a href="{% url 'post_detail' Post.id %}" class="post_detail_next">
                    <div class="next_post dp_flex ">
                        <p class="text_event pd_r10 mg_b10">イベント詳細</p>
                        <i class="far fa-arrow-alt-circle-right pd_r10 mg_b10"></i>
                    </div>
                </a>
            </div>
        {% endfor %}


    </section>
<script>
  tippy('.btn', {
  placement: 'right',
  animation: 'scale',
  duration: 1000,
  arrow: true
})
</script>
{% endblock body %}
