{% extends 'app/base.html' %}
{% load static %}

{% block body %}
    <section class="my_page back_base back_base_sub">
        <div class="my_page_div pd_t20 pd_l10 dp_flex pd_t20_sub pd_l20_sub dp_flex_sub">
            <i class="fas fa-user-cog"></i>
            <a class="post_detail_change pd_l10 pd_l20_sub" href="{% url 'user_update' user.id %}">プロフィールの編集</a>
        </div>
        <div class="my_page_div pd_t20 pd_l10 dp_flex pd_t20_sub pd_l20_sub dp_flex_sub">
            <i class="fas fa-envelope"></i>
            <a class="post_detail_change pd_l10 pd_l20_sub" href="{% url 'email_change' %}">メールアドレスの変更</a>
        </div>
        <div class="my_page_div pd_t20 pd_b20 pd_l10 dp_flex pd_t20_sub pd_l20_sub dp_flex_sub pd_b20_sub">
            <i class="fas fa-lock"></i>
            <a class="post_detail_change pd_l10 pd_l20_sub" href="{% url 'password_change' %}">パスワードの変更</a>
        </div>
    </section>
    <div class="advertising_sub sub_css" id="click_out">
        <i class="fas fa-times mg_r10_sub" id="clicks"></i>
        <a href="https://px.a8.net/svt/ejp?a8mat=3BQB5M+3YAMCY+50+2HLQJL" rel="nofollow">
        <img border="0" width="100%" height="100%" alt="" src="https://www28.a8.net/svt/bgt?aid=201101818239&wid=001&eno=01&mid=s00000000018015050000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3BQB5M+3YAMCY+50+2HLQJL" alt="">
    </div>
    <section class="my_page_post mg_t40 mg_t60_sub mg_b60_sub">
        <h5 class="my_post_text pd_l20 font_border pd_l40_sub font_border_sub mg_b20_sub">主催したイベント</h5>
        {% for Post in object.post_set.all %}
            <div class="card-detail mg_l40_sub mg_r40_sub">
                <h5 class="card-header post_day font_border font_border_sub text_C_sub">{{ Post.event_date}}開催予定</h5>
                <div class="card-body detail_body pd_t40_sub pd_b40_sub pd_l40_sub pd_r40_sub">
                    <div class="text-right">
                        <div class="post_edit_delete">
                            <button class="edit_button pd0" title="編集">
                                <a href="{% url 'post_update' Post.id %}" class="post_detail_next">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </button>
                            <button class="delete_button pd_0" title="削除">
                                <a href="{% url 'post_delete' Post.id %}" class="post_detail_next">
                                    <i class="fas fa-trash-alt" title="削除"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="event_detail_div dp_flex pd_b15 dp_flex_sub pd_b30_sub">
                        <i class="fas fa-file-signature"></i>
                        <p class="post_title pd_l20 pd_l40_sub">{{ Post.title}}</p>
                    </div>
                     <div class="event_detail_div dp_flex pd_b15 dp_flex_sub pd_b30_sub">
                        <i class="fas fa-user"></i>
                        <p class="master_username pd_l20 pd_l40_sub">{{ Post.master_username  }}</p>
                     </div>
                    <p class="post_holding_method_detail text_C text_C_sub">{{ Post.get_holding_method_display }}</p>
                </div>
                <a href="{% url 'post_detail' Post.id %}" class="post_detail_next">
                    <div class="next_post dp_flex dp_flex_sub">
                        <p class="text_event pd_r10 mg_b10 pd_r20_sub mg_b20_sub">イベント詳細</p>
                        <i class="far fa-arrow-alt-circle-right pd_r10 mg_b10 pd_r20_sub mg_b20_sub"></i>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
    <div class="advertising main_css" id="click_out_main">
        <a href="https://px.a8.net/svt/ejp?a8mat=3BQB5M+3YAMCY+50+2I3QOX" rel="nofollow">
            <img border="0" width="100%" height="60px" alt="" src="https://www26.a8.net/svt/bgt?aid=201101818239&wid=001&eno=01&mid=s00000000018015134000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3BQB5M+3YAMCY+50+2I3QOX" alt="">
        </a>
        <i class="fas fa-times color_white" id="clicks_main"></i>
    </div>
<script>
  tippy('.btn', {
  placement: 'right',
  animation: 'scale',
  duration: 1000,
  arrow: true
})
</script>
{% endblock body %}
